@charset "UTF-8";
body, h1, h2, h3, h4, h5, a, span, div, p {
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #30455b; }

body, a, span, i, em, div, p {
  font-size: 16px; }

button {
  text-transform: uppercase !important;
  color: #fff !important;
  font-weight: bold !important;
  border: 2px solid #feae24;
  background: linear-gradient(to bottom, #fdbf4e 0%, #ffa60f 100%);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 10px 30px;
  box-shadow: 0 3px #fe862d; }
  button:hover {
    background: linear-gradient(to bottom, #fec35a 0%, #ffae1e 100%); }
  button:active {
    background: linear-gradient(to bottom, #fec35a 0%, #ffae1e 100%);
    box-shadow: 0 1px #fe862d;
    margin: 2px 0 -2px 0;
    outline: none; }

section header {
  text-align: center; }
  section header h2 {
    font-weight: 300 !important;
    margin-top: 100px;
    font-size: 40px;
    margin-bottom: 20px; }
section .row {
  margin-top: 80px; }

header {
  margin: 20px 0;
  height: 70px; }
  header .logo {
    padding: 0; }
  header .tagline {
    padding-top: 30px;
    font-size: 14px; }
  header .head_tel {
    font-size: 28px; }
  header .head_address {
    font-size: 16px; }
  header a {
    color: #30455b;
    text-decoration: none; }
    header a:hover {
      text-decoration: none; }

nav.top_nav {
  background: #30455b; }
  nav.top_nav ul {
    margin-bottom: 0; }
  nav.top_nav a {
    display: inline-block;
    color: #fff !important;
    padding: 14px 43px;
    border-right: 1px solid #7f92a5;
    margin-right: -4px; }
    nav.top_nav a.top_active {
      background: #f2a310;
      pointer-events: none;
      cursor: default; }
    nav.top_nav a:last-child {
      border-right: none;
      background: #00b44f; }
      nav.top_nav a:last-child:hover {
        background: #02c758; }
    nav.top_nav a:hover {
      text-decoration: none;
      background: #445c76; }
    nav.top_nav a:focus {
      text-decoration: none; }

.dop_nav {
  margin-top: 20px;
  opacity: .5; }
  .dop_nav a {
    color: #30455b;
    text-decoration: underline;
    background: url("../img/home-icon.png") 0 2px no-repeat;
    padding-left: 20px; }
    .dop_nav a:hover {
      color: #30455b; }

nav.bottom_nav {
  margin: 35px 0;
  text-transform: uppercase; }
  nav.bottom_nav a {
    text-decoration: underline;
    color: #30455b; }
    nav.bottom_nav a:hover {
      color: #445c76; }
  nav.bottom_nav .icon-social i {
    display: inline-block;
    height: 25px;
    width: 25px;
    background: url("../img/social-icon.png") no-repeat; }
    nav.bottom_nav .icon-social i.icon-twitter {
      background-position: 0 0; }
    nav.bottom_nav .icon-social i.icon-google-plus {
      background-position: -26px 0; }
    nav.bottom_nav .icon-social i.icon-fb {
      background-position: -51px 0; }
    nav.bottom_nav .icon-social i.icon-vk {
      background-position: -77px 0; }

section.apply_loan {
  background: #30455b; }
  section.apply_loan header h2 {
    margin: 50px;
    color: #fe862d !important; }
  section.apply_loan header p {
    color: #fff !important; }
    section.apply_loan header p i {
      font-style: normal;
      color: #00b44f; }
  section.apply_loan form {
    display: block;
    border-right: 1px solid #7f92a5;
    margin-bottom: 50px;
    position: relative; }
    section.apply_loan form:before, section.apply_loan form:after {
      content: '';
      position: absolute;
      right: -40px;
      top: 120px;
      border: 20px solid transparent;
      border-left: 20px solid #7f92a5; }
    section.apply_loan form:after {
      right: -39px;
      top: 120px;
      border-left: 20px solid #30455b; }
    section.apply_loan form input, section.apply_loan .modal form textarea, .modal section.apply_loan form textarea, section.apply_loan section.application form textarea, section.application section.apply_loan form textarea {
      width: 300px;
      height: 50px;
      margin-bottom: 25px;
      padding-left: 20px;
      border: 1px solid #fff;
      background: linear-gradient(to bottom, #ecedee 0%, #f5f5f5 50%, #ecedee 100%); }
  section.apply_loan .col-md-5 div {
    margin-top: 30px;
    color: #fff !important; }
    section.apply_loan .col-md-5 div i {
      font-style: normal;
      font-size: 20px; }
    section.apply_loan .col-md-5 div ol {
      margin-top: 20px;
      padding-left: 0; }
      section.apply_loan .col-md-5 div ol li {
        list-style-type: none;
        counter-increment: item;
        line-height: 45px; }
      section.apply_loan .col-md-5 div ol li:before {
        content: counter(item);
        background: #59697c;
        margin-right: 10px;
        padding: 5px 10px;
        border-radius: 50%; }

footer {
  background: #f5f5f5;
  border-top: 1px solid #ccc; }
  footer .footer_infa {
    margin: 20px 0; }
  footer p {
    font-size: 10px; }
  footer .glyphicon-menu-up {
    font-size: 30px;
    color: #ffa710; }
    footer .glyphicon-menu-up:hover {
      color: #ffc76b; }

.modal .modal-content {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  width: 500px;
  margin: auto;
  background: #30455b; }
.modal .close {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  margin-right: 4px;
  opacity: .5; }
  .modal .close:hover {
    opacity: .8; }
.modal h3 {
  text-transform: uppercase;
  color: #fff; }
.modal p {
  margin: 0 30px;
  font-size: 12px;
  margin-bottom: 25px;
  color: #fff; }
.modal form {
  display: block;
  margin-bottom: 50px;
  position: relative; }
  .modal form input, .modal form textarea, .modal section.application form textarea, section.application .modal form textarea {
    display: block;
    width: 400px;
    height: 50px;
    margin: 0 auto 25px;
    padding-left: 20px;
    border: 1px solid #fff;
    background: linear-gradient(to bottom, #ecedee 0%, #f5f5f5 50%, #ecedee 100%); }
  .modal form textarea {
    height: 100px;
    resize: none; }
    .modal form textarea[placeholder] {
      padding-top: 10px; }

section.express_loans {
  height: 550px;
  background: url("../img/express-loans-bg.png") no-repeat top left;
  background-size: 600px; }
  section.express_loans .container {
    padding-left: 45%;
    padding-top: 5%; }
    section.express_loans .container h1 {
      text-align: left;
      font-size: 55px; }
    section.express_loans .container ul {
      margin: 50px 0; }
      section.express_loans .container ul li {
        list-style-image: url("../img/icon-ok.png");
        font-size: 18px;
        padding-top: 15px; }

section.how_get header h2 {
  color: #30455b;
  font-family: Roboto; }
section.how_get img {
  height: 150px;
  margin-bottom: 20px; }
section.how_get span {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px; }
section.how_get h4 {
  color: #000;
  font-weight: bold;
  line-height: 26px;
  font-size: 20px; }
section.how_get p {
  font-size: 14px; }

section.calculation {
  position: relative; }
  section.calculation .img_calc {
    padding-top: 50px;
    margin-bottom: -52px; }
    section.calculation .img_calc img {
      height: 100px; }

.calc, .calc_right {
  width: 930px;
  margin: auto;
  box-shadow: 0 0 5px #aaaaaa; }
  .calc .row, .calc_right .row {
    padding-bottom: 100px; }
  .calc h2, .calc_right h2 {
    padding: 70px 0 0 55px;
    font-weight: bold; }
  .calc h4, .calc_right h4 {
    font-weight: bold;
    margin-bottom: 20px; }
  .calc i, .calc_right i {
    float: right;
    font-style: normal; }
  .calc #show_day, .calc_right #show_day, .calc #show_sum, .calc_right #show_sum {
    width: 70px;
    margin: 20px auto 0;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 3px; }
  .calc #show_sum, .calc_right #show_sum {
    width: 120px;
    margin-bottom: 80px; }
  .calc .col-md-8, .calc_right .col-md-8 {
    border-right: 1px solid #7f92a5;
    padding: 0 70px 40px; }
    .calc .col-md-8:before, .calc_right .col-md-8:before, .calc .col-md-8:after, .calc_right .col-md-8:after {
      content: '';
      position: absolute;
      right: -40px;
      top: 40px;
      border: 20px solid transparent;
      border-left: 20px solid #7f92a5; }
    .calc .col-md-8:after, .calc_right .col-md-8:after {
      right: -39px;
      top: 40px;
      border-left: 20px solid #fff; }
  .calc .col-md-4, .calc_right .col-md-4 {
    padding: 0 55px; }
    .calc .col-md-4 h5, .calc_right .col-md-4 h5 {
      font-weight: bold;
      text-transform: uppercase;
      margin: 0; }
    .calc .col-md-4 p, .calc_right .col-md-4 p {
      margin-bottom: 35px; }
  .calc #result_sum, .calc_right #result_sum {
    font-size: 32px;
    color: #00b44f; }
  .calc #result_overpayment, .calc_right #result_overpayment, .calc #result_return, .calc_right #result_return {
    font-size: 28px; }

section.info {
  margin-top: 100px;
  background: url("../img/slider.png") no-repeat center right #f5f5f5;
  background-size: 570px;
  height: 460px;
  position: relative; }
  section.info .carousel-indicators li {
    border-color: #fe862d;
    background: #fe862d; }
    section.info .carousel-indicators li.active {
      background: transparent; }
  section.info .carousel-control {
    width: 30px;
    height: 30px;
    background: none;
    top: auto;
    bottom: 30px;
    left: 120px; }
    section.info .carousel-control.right {
      left: 180px; }
  section.info .carousel-inner {
    width: 700px;
    height: 460px;
    left: 100px; }
    section.info .carousel-inner .item h2 {
      margin-top: 100px;
      margin-bottom: 40px; }
    section.info .carousel-inner .item p {
      margin-top: 20px; }

section.advantage img {
  height: 100px;
  margin-bottom: 20px; }
section.advantage h5 {
  color: #00b44f !important;
  line-height: 26px;
  font-size: 20px; }
section.advantage p {
  font-size: 14px; }

section.reviews {
  margin-bottom: 100px; }
  section.reviews .carousel-indicators {
    bottom: -50px; }
    section.reviews .carousel-indicators li {
      border-color: #fe862d;
      background: #fe862d; }
      section.reviews .carousel-indicators li.active {
        background: transparent; }
  section.reviews .carousel-control {
    width: 30px;
    background: none; }
    section.reviews .carousel-control span {
      margin: -16px; }
  section.reviews .item .row {
    margin: 30px 0; }
    section.reviews .item .row p {
      display: table-cell;
      height: 170px;
      vertical-align: middle; }

.calc_right {
  margin-left: 0;
  width: 380px;
  padding: 0 25px 25px 25px; }
  .calc_right h2 {
    padding: 15px; }
  .calc_right b {
    font-size: 13px;
    text-transform: uppercase; }
  .calc_right table {
    width: 100%;
    margin-bottom: 40px; }
    .calc_right table th {
      vertical-align: bottom;
      padding-right: 12px; }
  .calc_right #result_overpayment {
    margin: 0;
    font-size: 28px; }
  .calc_right #result_return {
    margin: 0;
    font-size: 28px;
    color: #00b44f; }

.loan_repayment {
  margin: 20px 0 80px 0; }
  .loan_repayment .row {
    margin-top: 0; }
  .loan_repayment .col-md-4 {
    margin-left: 70px; }
  .loan_repayment h1 {
    text-align: left;
    font-size: 55px; }
  .loan_repayment h2 {
    text-align: left; }
  .loan_repayment p {
    margin-top: 25px; }
  .loan_repayment em {
    background: url("../img/icon-ok.png");
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px; }
  .loan_repayment .exact_sum {
    background: url("../img/exact_sum.jpg") top right no-repeat #00b44f;
    height: 254px;
    padding: 25px 250px 0 50px;
    margin-top: 70px;
    color: #fff; }
    .loan_repayment .exact_sum h2 {
      margin: 0; }
    .loan_repayment .exact_sum p {
      color: #fff; }
  .loan_repayment .advantage {
    width: 380px;
    border: 1px solid #ddd;
    margin-top: 30px;
    padding: 25px; }
    .loan_repayment .advantage h3 {
      padding: 0 0 20px 10px; }
    .loan_repayment .advantage li {
      list-style-image: url("../img/icon-ok.png");
      padding-top: 15px;
      font-size: 14px; }

section.application {
  margin-top: 20px; }
  section.application h1 {
    text-align: left;
    font-size: 55px; }
  section.application .col-md-6 div {
    background: url("../img/icon-info.png") top left no-repeat;
    padding-left: 35px;
    margin-top: 40px; }
  section.application h3, section.application h5 {
    font-weight: bold; }
  section.application form {
    display: block;
    margin-bottom: 50px;
    position: relative; }
    section.application form input, section.application form textarea {
      width: 400px;
      height: 50px;
      margin: 0 auto 25px;
      padding-left: 20px;
      border: 1px solid #cccccc; }
    section.application form textarea {
      height: 100px;
      resize: none; }
      section.application form textarea[placeholder] {
        padding-top: 10px; }
  section.application footer {
    margin-top: 30px;
    height: 70px;
    background: #30455b; }

.ui-slider {
  position: relative;
  text-align: left; }
  .ui-slider .ui-slider-handle {
    /* ╨Я╨╛╨╗╨╖╤Г╨╜╨╛╨║ */
    position: absolute;
    z-index: 5;
    width: 30px;
    height: 30px;
    cursor: pointer;
    -ms-touch-action: none;
    touch-action: none;
    top: -11px;
    margin-left: -15px;
    background: url("../img/slider_handle.png") 0 0 no-repeat; }
    .ui-slider .ui-slider-handle:hover, .ui-slider .ui-slider-handle:focus {
      background: url("../img/slider_handle_hover.png");
      outline: none; }
  .ui-slider .ui-slider-range {
    /* ╨╖╨░╨╗╨╕╨▓╨║╨░ */
    position: absolute;
    z-index: 1;
    top: 0;
    height: 100%;
    background: #00b44f; }

.ui-widget-content {
  /* ╨┐╨╛╨╗╨╛╤Б╨║╨░ */
  border: 1px solid #dddddd;
  background: #ffffff;
  border-radius: 10px;
  height: 7px; }

/*# sourceMappingURL=style.css.map */
