body {
	padding:0px;
	margin:0px;
	
}
.mainlogo {
	color:#6e84ac;
	margin-top: 25px;
	width: absolute;
	height:100px;
	font-family: arial sans-serif;
	font-weight:
}
.logo-picture {
	float:left;
	padding-left: 150px;
	padding-right:35px;
}
.logo-borrow {
	padding-top: 27px;
	color:#6e84ac;
	float:left;
}
.logo-contacts {
	padding-right:150px;
	float:right;
}
.logo-contacts .number {
	font-size: 25px;
	padding-left: 60px;
}
.logo-contacts span {
	color:#525f6e;
	font-weight: bold;
}
.logo-contacts .location {
		border-bottom: solid 1px lightgrey;
}
.navmenu {
	padding:0px 100px 0px 100px;
	color:#b2c2c4;
	background-color:#30455b;
}
.nav-buttons {
	list-style-type: none;
}
.nav-buttons li {
	display:inline-block;
	padding: 15px 80px 15px 80px;
	border-right: solid 1px #b2c2c4;
}

