
.mainpr .container-fluid {
  background-color: #f8f7f9;
  padding:0px;
  margin:0px;
}
.col-md-6 {
  padding:0px;
}

h1 {

  padding-top:90px;
  padding-bottom:20px;
  color:#5c5c5c;
  font-size: 50px;
}
.privileges {
  padding:0px;
  list-style-type: none;
  font-size:15px;
}
.privileges img {
  padding-right:17px;
}
li {
  padding-bottom:10px;
}
.btn {
  font-family:Corbel;
  font-size:13px;
  font-weight: bold;
  background-color: orange;
  text-transform: uppercase;
  padding:12px 25px 7px 25px;
  border-bottom:3px solid #fd861f;
}
