
.privileges-expressloans {
  text-align: center;

  ul {
    list-style-type: none;
  }

  img {
    padding-top:70px;
    display:block;
    margin:auto;
  }
}
.privileges-steps {
  font-size: 17px;
  color: #00b44f;
}
.privileges-expl {
  color:grey;
}
