
.privileges-expressloans {
  text-align: center;

  h2 {
    font-size: 43px;
    color: #5d5d5d;
    margin-top: 100px;
    margin-bottom: 20px;
  }
  img {
    width: 120px;
    padding-top: 70px;
    display: block;
    margin: auto;
  }

  h5 {
    font-size: 17px;
    color: #00b44f;
  }
  p {
    color: grey;
  }
}
