
.reviews {

  h2 {
    text-align: center;
    font-size: 43px;
    color: #5d5d5d;
    margin-top:100px;
    margin-bottom:20px;
  }
  img {
    padding-top: 40px;
  }
  p {
    text-align: left;
    padding-top: 70px;
    color: grey;
  }
}
.carousel-indicators-numbers li {
  text-indent: 0;
  margin: 0 2px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 100%;
  line-height: 30px;
  color: darkblue;
  background-color: #999;
  transition: all 0.25s ease;
}
.carousel-indicators-numbers li.active {
  color: #00002c;
}
.carousel-control.right {
  background-image: none;
  color: #00002c;
  font-size: 30px;
  width:30px;
}
.carousel-control.left {
  @extend .carousel-control.right
}
