section.apply_loan {
  background: $main-color;
  h2 {
    margin: 50px 0 30px;
    color: #fe862d;
  }
  p {
    color: #fff;
    i {
      font-style: normal;
      color: $green;
    }
  }
  form {
    display: block;
    border-right: 1px solid #7f92a5;
    margin-bottom: 50px;
    position: relative;;
    &:before, &:after {
      content: '';
      position: absolute;
      right: -40px; top: 120px;
      border: 20px solid transparent;
      border-left: 20px solid #7f92a5;
    }
    &:after {
      right: -39px; top: 120px;
      border-left: 20px solid $main-color;
    }
    input {
      width: 300px;
      height: 50px;
      margin-bottom: 25px;
      padding-left: 20px;
      border: 1px solid #fff;
      background: linear-gradient(to bottom, #ecedee 0%, #f5f5f5 50%, #ecedee 100%);
    }
  }
  .col-sm-5 {
    margin-top: 40px;
    div {
      margin-top: 30px;
      color: #fff;
      i {
        font-style: normal;
        font-size: 20px;
      }
      ol {
        margin-top: 20px;
        padding-left: 0;
        li {
          list-style-type: none;
          counter-increment: item;
          line-height: 45px;
        }
        li:before {
          content: counter(item);
          background: #59697c;
          margin-right: 10px;
          padding: 5px 10px;
          border-radius: 50%;
        }
      }
    }
  }
}