section.application {
  margin-top: 20px;
  h1 {
    text-align: left;
    font-size: 55px;
  }
  .col-sm-6 {
    margin-top: 80px;
    div {
      background: url("../img/icon-info.png") top left no-repeat;
      padding-left: 35px;
      margin-top: 40px;
    }
  }
  h3,h5 {font-weight: bold;}
  form {
    display: block;
    margin-bottom: 50px;
    position: relative;
    input {
      width: 400px;
      height: 50px;
      margin: 0 auto 25px;
      padding-left: 20px;
      border: 1px solid #cccccc;
    }
    textarea {
      @extend input;
      height: 100px;
      resize: none;
      &[placeholder] {
        padding-top: 10px;
      }
    }
  }
  footer {
    margin-top: 30px;
    height: 70px;
    background: $main-color;
  }
}