.ui-slider {
  position: relative;
  text-align: left;
  .ui-slider-handle {
    position: absolute;
    z-index: 5;
    width: 30px;
    height: 30px;
    cursor: pointer;
    -ms-touch-action: none;
    touch-action: none;
    top: -11px;
    margin-left: -15px;
    background: url("../img/slider_handle.png") 0 0 no-repeat;
    &:hover, &:focus {
      background: url("../img/slider_handle_hover.png");
      outline: none;
    }
  }
  .ui-slider-range {
    position: absolute;
    z-index: 1;
    top: 0;
    height: 100%;
    background: $green;
  }
}
.ui-widget-content {
  border: 1px solid #dddddd;
  background: #ffffff;
  border-radius: 10px;
  height: 7px;
}

