section.express_loans {
  height: 550px;
  background: url("../img/express-loans-bg.png")no-repeat top left;
  background-size: 600px ;
  .container {
    padding-left: 45%;
    padding-top: 5%;
    h1 {
      text-align: left;
      font-size: 55px;
    }
    ul {
      margin: 50px 0;
      li {
        list-style-image: url("../img/icon-ok.png");
        font-size: 18px;
        padding-top: 15px;
      }
    }
  }
}