section.express_loans {
  height: 545px;
  background: url("../img/express-loans-bg.png")no-repeat bottom left;
  .container {
    padding-top: 5%;
    h1 {
      text-align: left;
      font-size: 55px;
    }
    ul {
      margin: 50px 0;
      li {
        list-style-image: url("../img/icon-ok.gif");
        font-size: 18px;
        padding-top: 15px;
      }
    }
  }
}