header {
  margin: 20px 0;
  height: 70px;
  .logo {
    padding: 0;
  }
  .tagline {
    padding-top: 30px;
    font-size: 14px;
  }
  .head_tel {
    font-size: 28px;
  }
  .head_address {
    font-size: 16px;
  }
  a {
    color: $main-color;
    text-decoration: none;
    &:hover {text-decoration: none;}
  }
}