section.apply_loan {
  background: $main-color;
  h2 {
    margin: 50px 0 30px;
    color: #fe862d;
  }
  p {
    color: #fff;
    i {
      font-style: normal;
      color: $green;
    }
  }
  form {
    display: block;
    border-right: 1px solid #7f92a5;
    margin-bottom: 50px;
    position: relative;;
    &:before, &:after {
      content: '';
      position: absolute;
      right: -40px; top: 120px;
      border: 20px solid transparent;
      border-left: 20px solid #7f92a5;
    }
    &:after {
      right: -39px; top: 120px;
      border-left: 20px solid $main-color;
    }
    input {
      width: 300px;
      height: 50px;
      margin-bottom: 25px;
      padding-left: 20px;
      border: 1px solid #fff;
      background: linear-gradient(to bottom, #ecedee 0%, #f5f5f5 50%, #ecedee 100%);
    }
  }
  .col-sm-5 {
    margin-top: 40px;
    div {
      margin-top: 30px;
      color: #fff;
      i {
        font-style: normal;
        font-size: 20px;
      }
      ol {
        margin-top: 20px;
        padding-left: 0;
        li {
          list-style-type: none;
          counter-increment: item;
          line-height: 45px;
        }
        li:before {
          content: counter(item);
          background: #59697c;
          margin-right: 10px;
          padding: 5px 10px;
          border-radius: 50%;
        }
      }
    }
  }
}

section.express_loans {
  height: 545px;
  background: url("../img/express-loans-bg.png")no-repeat top left;
  .container {
    padding-top: 5%;
    h1 {
      text-align: left;
      font-size: 55px;
    }
    ul {
      margin: 50px 0;
      li {
        list-style-image: url("../img/icon-ok.png");
        font-size: 18px;
        padding-top: 15px;
      }
    }
  }
}

section.how_get {
  img {
    margin: 50px 0 20px;
  }
  .col-sm-6 div {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
  }
  h4 {
    color: #000;
    font-weight: bold;
    line-height: 26px;
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }
}

section.info {
  margin-top: 100px;
  background: url("../img/slider.png") no-repeat bottom right #f5f5f5;
  min-height: 480px;
  position: relative;
  .carousel-indicators li {
    border-color: #fe862d;
    background: #fe862d;
    &.active {
      background: transparent;
    }
  }
  .carousel-control {
    width: 30px;
    height: 30px;
    background: none;
    top: auto;
    bottom: 30px;
    left: 120px;
    &.right {left: 180px;}
  }
  .carousel-inner{
    width: 700px;
    height: 460px;
    left: 100px;
    .item {
      h2 {
        text-align: left;
        margin-top: 100px;
        margin-bottom: 40px;
      }
      p {
        margin-top: 20px;
      }
    }
  }
}

section.advantage  {
  img {
    margin: 50px 0 20px;
  }
  h5 {
    color: $green;
    line-height: 26px;
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }
}

section.reviews {
  margin-bottom: 100px;
  .carousel-indicators {
    bottom: -50px;
  }
  li {
    border: none;
    background: none;
    text-indent: 0;
    counter-increment: item;
    &:before {
      content: counter(item);
    }
    &.active {
      font-size: 24px;
      padding: 0 20px 0 5px;
    }
  }
  .carousel-control {
    width: 30px;
    background: none;
    span {
      margin: -16px;
    }
  }
  .item {
    .row {
      margin: 30px 0;
      p {
        display: table-cell;
        height: 170px;
        vertical-align: middle;
      }
      .clearfix {
        padding-bottom: 30px;
        display: block;
      }
    }
  }
}