nav.top_nav {
  background: $main-color;
  ul {
    margin-bottom: 0;
  }
  a {
    display: inline-block;
    color: #fff!important;
    padding: 14px 43px;
    border-right: 1px solid #7f92a5;
    margin-right: -4px;
    &.top_active {
      background: $orange;
      pointer-events: none;
      cursor: default;
    }
    &:last-child {
      border-right: none;
      background: $green;
      &:hover {
        background: #02c758;
      }
    }
    &:hover {
      text-decoration: none;
      background: #445c76;
    }
    &:focus {text-decoration: none}
  }
}

.dop_nav {
  margin-top: 20px;
  opacity: .5;
  a {
    color: $main-color;
    text-decoration: underline;
    background: url("../img/home-icon.png") 0 2px no-repeat;
    padding-left: 20px;
    &:hover {
      color: $main-color;
    }
  }
}

nav.bottom_nav {
  margin: 35px 0;
  text-transform: uppercase;
  a {
    text-decoration: underline;
    color: $main-color;
    &:hover {
      color: #445c76;
    }
  }
  .icon-social i {
    display: inline-block;
    height: 25px;
    width: 25px;
    background: url("../img/social-icon.png") no-repeat;
    &.icon-twitter {background-position: 0 0;}
    &.icon-google-plus {background-position: -26px 0;}
    &.icon-fb {background-position: -51px 0;}
    &.icon-vk {background-position: -77px 0;}
  }
}