nav.bottom_nav {
  margin: 35px 0;
  text-transform: uppercase;
  a {
    text-decoration: underline !important;
  }
  .icon-social i {
    display: inline-block;
    height: 25px;
    width: 25px;
    background: url("../img/social-icon.png") no-repeat;
    &.icon-twitter {background-position: 0 0;}
    &.icon-google-plus {background-position: -26px 0;}
    &.icon-fb {background-position: -51px 0;}
    &.icon-vk {background-position: -77px 0;}
  }
}