section.calculation {
  position: relative;
  .img_calc {
    padding-top: 50px;
    margin-bottom: -52px;
    img {
      height: 100px;
    }
  }
  .calc {
    height: 100px;
    box-shadow: 0 0 5px #444;
  }
}