nav.top_nav {
  background: $main-color;
  ul {
    margin-bottom: 0;
  }
  a {
    display: inline-block;
    color: #fff!important;
    padding: 14px 43px;
    border-right: 1px solid #7f92a5;
    margin-right: -4px;
    &:last-child {
      border-right: none;
      background: $green;
      &:hover {
        background: #02c758;
      }
    }
    &:hover {
      text-decoration: none;
      background: #445c76;
    }
    &:focus {text-decoration: none}
  }
}